html{
    font-family: 'Open Sans', sans-serif;
    background-color: #282a36;
    color: #f8f8f2;
}

main {
    margin: 0 auto;
    text-align: center;
}

p {
    padding: 30px;
    font-size: 24px;
}

h1 {
    padding: 50px;
    color: cornsilk;
}

h2 {
    color: #50fa7b;
}

table {
    border-collapse: collapse;
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
table, th, tr {
    border: 3px solid #ff5555;
    padding: 1em;
}

button, input[type="submit"]
{
    padding: .1em;
    margin: 1em;
	color: #282a36;
	background: #50fa7b;
	height: 2em;
	border: 0;
	border-radius: 5px;
	cursor: pointer;
	-webkit-transition-duration: .5s;
	transition-duration: .5s;
	font-size: 1em;
}
button:hover, input[type="submit"]:hover
{
	background: #44475a;
	color: #f8f8f2;
	-webkit-transition-duration: .5s;
	transition-duration: .5s;
}

.addEvent div{
    display: inline-block;
}

form {
    padding: 1em;
}

header
{ /*Busted*/
	background-color: #000000;
    color: #EEEEEE;
    padding: 0;
    margin: 0;
    width: 100%;
}

/*button {
    background-color: black;
    border: black;
    color:  #50fa7b;
    padding: 10px 15px;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
}*/

.homeForm {
    border: 3px solid #ff5555;
    border-radius: 25px;
    width: 40%;
    margin: 0 auto;
    text-align: center;
}

#toHome {
    border-radius: 5px;
    padding: .65em .8em;
    text-align: center;
    background: #3CC86E;
    color: black;
    position: fixed;
    z-index: 1000;
    text-align: center;
    bottom: 1em;
    left: 1em;
    text-decoration: none;
    color: white;
  }
  #toHome:hover {
    cursor: pointer;
    text-decoration: none;
    background: #c83c50;
    color: black;
  }

  #toCode {
    border-radius: 5px;
    padding: .65em .8em;
    text-align: center;
    background: #3CC86E;
    color: black;
    position: fixed;
    z-index: 1000;
    text-align: center;
    bottom: 1em;
    right: 1em;
    text-decoration: none;
    color: white;
  }
  #toCode:hover {
    cursor: pointer;
    text-decoration: none;
    background: #c83c50;
    color: black;
  }



